* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px 0;
  font-size: 13px;
  background: #fff;
}
.main-nav ul.right-menu {
  font-size: 20px;
}

.main-nav .logo img {
  width: 70%;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 12px;
  font-size: 30px;
  display: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;;
}

.btn:hover {
  opacity: 0.9;
}

/* Showcase */
.showcase {
  width: 100%;
  height: 400px;
  background: url('../images/visual.jpg') no-repeat center center/cover;
  margin-bottom: 20px;
}
.showcase .content {
  padding: 100px 0 0 30px;
  color: #fff;
}
.showcase h2 {
  font-size: 34px;
}
.showcase p {
  font-size: 24px;
  margin: 10px 0 20px;
}
.showcase .btn {
  background: #fff;
  color: #333;
}

/* Home cards */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.home-cards img {
  width: 100%;
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a:hover i {
  margin-left: 10px;
}

/* event */
.event {
  width: 100%;
  height: 350px;
  background: url('../images/event.jpg') no-repeat center center/cover;
  margin-bottom: 20px;
}

.event .content {
  position: relative;
  height: 100%;
}
.event .content h2 {
  position: absolute;
  color: #fff;
  font-size: 34px;
  top: 20px;
  left: 40px;
}
.event .content p {
  position: absolute;
  top: 80px;
  left: 40px;
  color: #fff;
  font-size: 24px;
}
.event .content span {
  position: absolute;
  color: #fff;
  top: 140px;
  left: 40px;
}
.event .content .btn {
  position: absolute;
  bottom: 60px;
  left: 40px;
}
.event p, .carbon p {
  margin: 10px 0 20px;
}

/* Carbon */
.carbon {
  width: 100%;
  height: 350px;
  background: url('../images/event2.jpg') no-repeat center center/cover;
}

.carbon .content {
  width: 55%;
  padding: 100px 0 0 30px;
  color: #fff;
}

/* Follow */
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
}

.follow * {
  margin-right: 10px;
}

/* Links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.links li {
  line-height: 2.8;
}

/* Footer */
.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}
.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
}
.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
  position: relative;
}

.footer li ~ li:after {
  content: '';
  position: absolute;
  left: -16px;
  top: 50%;
  width: 2px;
  height: 16px;
  transform: translateY(-50%);
  background: #d9d9d9;
}
@media(max-width: 800px) {
  footer {
    display: none;
  }
}
@media(max-width: 700px) {
    
  header {
    position: fixed;
    width: 90%;
    top: 0;
    border-bottom: 1px solid #616161;
    z-index: 100;
  }
  .showcase {
    margin-top: 100px;
  }
  .menu-btn {
    display: block;
  }
  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu {
    display: block;   
    position: fixed;
    top:0;
    left: 0;
    background: #f2f2f2;
    width: 60%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
    z-index: 10;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }
 
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .event .content p {
    display: none;
  }

  .event .content h2 {
    margin-bottom: 20px;
  }

  .carbon .content {
    width: 85%;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 500px) {
  .showcase p {
    font-size: 18px;
  }
  .home-cards {
    grid-template-columns: 1fr;
  }

  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
}